<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
   
    <add name="VS_Business.Properties.Settings.VB_BusinessConnectionString" connectionString="Data Source=CSCVIEAI374201\SQLEXPRESS;Initial Catalog=VB_Business;Persist Security Info=True;User ID=sa;Password=neyugnhniv1!" providerName="System.Data.SqlClient" />
    <add name="VS_Business.Properties.Settings.VB_BusinessPersonalInfo" connectionString="Data Source=CSCVIEAI374201\SQLEXPRESS;Initial Catalog=VB_Business;Persist Security Info=True;User ID=sa;Password=neyugnhniv1!" providerName="System.Data.SqlClient" />
  <add name="VB_BusinessEntities" connectionString="metadata=res://*/VS.csdl|res://*/VS.ssdl|res://*/VS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CSCVIEAI374201\SQLEXPRESS;initial catalog=VB_Business;persist security info=True;user id=sa;password=neyugnhniv1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>